
тело {
    маржа: 0;
    семейство шрифтов: «Raleway», «без засечек»;
    размер шрифта: 16 пикселей;
    цвет: #ffffff;

}

*,
*:до,
*::после {
    размер коробки: граница-коробка;
}
/* Список ===============================*/
ли {
    отображение: встроенный блок;
  }



а, ты {
    текстовое оформление: нет;
  }

ч1,
ч2,
ч3,
ч4,
х5,
ч6 {
    маржа: 0;
}

п {
    поле: 0 0 10 пикселей;
}

/* Контейнер ==================================*/
.контейнер {
    ширина: 100%;
    максимальная ширина: 1170 пикселей;
    маржа: 0 авто;
}

/* Контейнер ==================================*/
.container9 {
    ширина: 100%;
    максимальная ширина: 1170 пикселей;
    маржа: 0 авто;
}






/* Заголовок==================================*/
.header {
    ширина: 100%;
    высота: 100 пикселей;
    позиция: абсолютная;
    верх: 0;
    слева: 0;
    z-индекс: 1000;
    высота: 100 пикселей;
    цвет фона: #181818;
    
}

.header__inner {
    дисплей: гибкий;
    оправдание-содержание: пространство между;
    выровнять-элементы: по центру;
    отступ: 35 пикселей 0;
  

}

/* Nav==================================*/
.nav {
    дисплей: гибкий;
    размер шрифта: 15 пикселей;
    вес шрифта: 700;
    преобразование текста: верхний регистр;
    
}

.nav__link {
    поле слева: 20 пикселей;
    цвет: #fff;
    текстовое оформление: нет;
    непрозрачность: 0,75;
}

.nav__link:первый ребенок {
    поле слева: 0%;
}

.nav__link:hover {
    непрозрачность: 100;
    оформление текста: подчеркивание;
    цвет: #ffb13d;
    переход: непрозрачность .1с линейная;
    текстовое оформление: нет;
}


/* Р˜РЅС‚СЂРѕ РіР»Р°РІРЅРѕР№ ================================*/
.вступление {
    дисплей: гибкий;
    гибкое направление: столбец;
    оправдание-содержание: центр;
    высота: 900 пикселей;
    отступ: 100 пикселей;
    фон: URL("img/Intro/intro.JPG") центр без повтора;
    размер фона: обложка;
    ширина: 100%;
    отступ: 200 пикселей 0;
  }
/* Р˜РЅС‚СЂРѕ СЃС‚СЂР°РЅРёС†С‹ РђСЂС‚============================== ==*/
  .intro_art {
    дисплей: гибкий;
    гибкое направление: столбец;
    оправдание-содержание: центр;
    выровнять-элементы: по центру;
    высота: 600 пикселей;
    отступ: 130 пикселей 0;
    фон: url("img/intro_art/intro_art1.jpg") центр без повторения;
    размер фона: обложка;
    ширина: 100%;
  }
  
  .intro_art .text-container {
    выравнивание текста: по центру;
  }
  /* Р”РѕР±Р°РІРёРј РјРµРґРёР°-Н·Р°РїСЂРѕСЃС‹ Р°ХР°РїС‚РёРІРЅРѕС‚Рё */
  @media (максимальная ширина: 930 пикселей) {
    
    .intro_art {
        высота: 350 пикселей;
    }
}
  





/* Вход в систему ux========================== ======*/
.intro_maketux ​​{
    дисплей: гибкий;
    гибкое направление: столбец;
    оправдание-содержание: центр;
    выровнять-элементы: по центру;
    высота: 600 пикселей;
    отступ: 130 пикселей 0;
    фон: url("img/Intro_maketux/intro_maketux.jpg") центр без повтора;
    размер фона: обложка;
    ширина: 100%;
  }
  
  .intro_art .text-container {
    выравнивание текста: по центру;
  }
  /* Р”РѕР±Р°РІРёРј РјРµРґРёР°-Н·Р°РїСЂРѕСЃС‹ Р°ХР°РїС‚РёРІРЅРѕС‚Рё */
  @media (минимальная ширина: 930 пикселей) {
   
    .intro_maketux ​​{
        высота: 350 пикселей;
    }
}
  















/* Р˜РЅС‚СЂРѕ СЃС‚СЂР°РЅРёС†С‹ СЂРёСЃСѓРЅРєРѕРІ============================== "="
  .intro_drawings {
    дисплей: гибкий;
    гибкое направление: столбец;
    оправдание-содержание: центр;
    выровнять-элементы: по центру;
    высота: 600 пикселей;
    отступ: 130 пикселей 0;
    фон: url("img/intro_drawings/intro_drawings1.jpg") центр без повтора;
    размер фона: обложка;
    ширина: 100%; /
  }
  
  .intro_drawings .текст-контейнер {
    выравнивание текста: по центру;
  }

  .intro_drawings .текст-контейнер {
    выравнивание текста: по центру;
  }
  /* Р”РѕР±Р°РІРёРј РјРµРґРёР°-Н·Р°РїСЂРѕСЃС‹ Р°ХР°РїС‚РёРІРЅРѕС‚Рё */
  @media (максимальная ширина: 930 пикселей) {
    
    .intro_drawings {
        высота: 350 пикселей;
    }
}
  


  
/* Имя пользователя ======================== ========*/
.intro_contact {
    дисплей: гибкий;
    гибкое направление: столбец;
    оправдание-содержание: центр;
    выровнять-элементы: по центру;
    высота: 600 пикселей;
    отступ: 130 пикселей 0;
    фон: url("img/intro_contact/intro_contact1.jpg") центр без повтора;
    размер фона: обложка;
    ширина: 100%;
  }
  
 
  .intro_contact .текст-контейнер {
    выравнивание текста: по центру;
  }
  /* Р”РѕР±Р°РІРёРј РјРµРґРёР°-Н·Р°РїСЂРѕСЃС‹ Р°ХР°РїС‚РёРІРЅРѕС‚Рё */
  @media (максимальная ширина: 930 пикселей) {
    
    .intro_contact {
        высота: 350 пикселей;
    }
}
  


/* Р˜РЅС‚СЂРѕ СЃС‚СЂР°РЅРёС†С‹ 3Р”============================== ==*/
.intro_3d {
    дисплей: гибкий;
    гибкое направление: столбец;
    оправдание-содержание: центр;
    выровнять-элементы: по центру;
    высота: 600 пикселей;
    отступ: 130 пикселей 0;
    фон: url("img/intro_3d/intro_3d.jpg") центр без повторения;
    размер фона: обложка;
    ширина: 100%;
  }
  
  .intro_contact .текст-контейнер {
    выравнивание текста: по центру;
  }


  /* Р”РѕР±Р°РІРёРј РјРµРґРёР°-Н·Р°РїСЂРѕСЃС‹ Р°ХР°РїС‚РёРІРЅРѕС‚Рё */
  @media (максимальная ширина: 930 пикселей) {
    
    .intro_3d {
        высота: 350 пикселей;
    }
}
  


  
  

/* Р˜РЅС‚СЂРѕ СЃС‚СЂР°РЅРёС†С‹ СЂРёСЃСѓРЅРєРѕРІ============================== "="
.intro_news1 {
    дисплей: гибкий;
    гибкое направление: столбец;
    оправдание-содержание: центр;
    выровнять-элементы: по центру;
    высота: 250 пикселей;
    отступ: 130 пикселей 0;
    фон: url("img/intro_news1/intro_news1.png") центр без повтора;
    размер фона: обложка;
    ширина: 100%;
  }
  
  .intro_news1 .text-container {
    выравнивание текста: по центру;
  }








/* Р˜РЅС‚СЂРѕ СЃС‚СЂР°РЅРёС†С‹ Р'Р»РѕРі ============================ ===== */
.intro_blog {
    дисплей: гибкий;
    гибкое направление: столбец;
    оправдание-содержание: центр;
    выровнять-элементы: по центру;
    высота: 600 пикселей;
    отступ: 130 пикселей 0;
    фон: url("img/intro_3d/intro_3d.jpg") центр без повторения;
    размер фона: обложка;
    ширина: 100%;
}

.intro_blog .container {
    выравнивание текста: по центру;
}


  /* Р”РѕР±Р°РІРёРј РјРµРґРёР°-Н·Р°РїСЂРѕСЃС‹ Р°ХР°РїС‚РёРІРЅРѕС‚Рё */
  @media (максимальная ширина: 930 пикселей) {
    
    .intro_blog {
        высота: 350 пикселей;
    }
}
  


/* Р˜РЅС‚СЂРѕ СЃС‚СЂР°РЅРёС†С‹ UX =============================== "="
.intro_ux {
    дисплей: гибкий;
    гибкое направление: столбец;
    оправдание-содержание: центр;
    выровнять-элементы: по центру;
    
    отступ: 130 пикселей 0;
    фон: url("img/intro_3d/intro_3d.jpg") центр без повторения;
    размер фона: обложка;
    ширина: 100%;
}
.intro_art .text-container {
    выравнивание текста: по центру;
  }
  /* Р”РѕР±Р°РІРёРј РјРµРґРёР°-Н·Р°РїСЂРѕСЃС‹ Р°ХР°РїС‚РёРІРЅРѕС‚Рё */
  @media (максимальная ширина: 930 пикселей) {
    
    .intro_ux1 {
        высота: 350 пикселей;
    }
}
  

  

.intro_blog .container {
    выравнивание текста: по центру;
}


  /* Р”РѕР±Р°РІРёРј РјРµРґРёР°-Н·Р°РїСЂРѕСЃС‹ Р°ХР°РїС‚РёРІРЅРѕС‚Рё */
  @media (максимальная ширина: 930 пикселей) {
    
    .intro_maketux ​​{
        высота: 350 пикселей;
    }
}
  




/* Р˜РЅС‚СЂРѕ СЃС‚СЂР°РЅРёС†С‹ Р'Р»РѕРі ============================ ===== */
.intro_ux1 {
    дисплей: гибкий;
    гибкое направление: столбец;
    оправдание-содержание: центр;
    выровнять-элементы: по центру;
    
    отступ: 130 пикселей 0;
    фон: url("img/intro_uxwebsite1\ СЌРєРё\ РґРѕСЃ/intro_drawings1.jpg") center no-repeat;
    размер фона: обложка;
    ширина: 100%;
}
/* Р”Р°Р°РїС‚РёРІРЅРѕС‚Рё-Н·Р°РїСЂРѕСЃС‹ Р°ХР°РїС‚РёРІРЅРѕС‚Рё */
@media (минимальная ширина: 930 пикселей) {
   
    .intro_ux1 {
        высота: 350 пикселей;
    }
}



   /* Р'РёРѕРіСЂР°С„РёСЏ РЅР° РіР»Р°РІРЅРѕР№ "РћР±Рѕ РјРЅРµ"========================= ========*/

  .биография {
    
    размер шрифта: 16 пикселей;
    черный цвет;
    семейство шрифтов: «Робото», без засечек;
    
    /* Р”СЂСѓРіРёРµ СЃРІРѕР№СЃС‚РІР°, РµСЃР»Рё РЅРµР±С…РѕРґРёРјРѕ */
    ширина: 100%;
    маржа: 0 авто;
    ширина: 100%;
    максимальная ширина: 1170 пикселей;
    маржа: 0 авто;
    

  }

  
  

  .биография2 {
    
    размер шрифта: 16 пикселей;
    черный цвет;
    семейство шрифтов: «Робото», без засечек;
    
    /* Р”СЂСѓРіРёРµ СЃРІРѕР№СЃС‚РІР°, РµСЃР»Рё РЅРµР±С…РѕРґРёРјРѕ */
    ширина: 100%;
    маржа: 0 авто;
    ширина: 100%;
    максимальная ширина: 1170 пикселей;
    маржа: 0 авто;
    отступ: 10 пикселей 10 пикселей 10 пикселей;
    
    

  }
  .отступы-изображение-слево img{
    плыть налево;
    отступ: 0 18 пикселей 18 пикселей 0;
    }






/* Вход в систему… */
.навыки {
    выравнивание текста: по правому краю;
    отступ справа: 20 пикселей;
    высота строки: 40 пикселей;
    белый цвет;
}

/* РљР°Р¶РґС‹Р№ РЅР°РІС‹Рє СЃРѕ СЃРІРѕРјРё СЃС‚РёР»СЏРјРё Р°Р°РєСЂСѓРіР»РμРЅРЅС‹РјРё СѓР»Р°Р јЁ */
.html {
    ширина: 90%;
    цвет фона: #1f1f1f;
    радиус границы: 20 пикселей;
}

.css {
    ширина: 80%;
    цвет фона: #1f1f1f;
    радиус границы: 20 пикселей;
}

.js {
    ширина: 70%;
    цвет фона: #303030;
    радиус границы: 20 пикселей;
}

.php {
    ширина: 60%;
    цвет фона: #303030;
    радиус границы: 20 пикселей;
}
  
  



/* РџСЂСЏјРѕСѓРіРѕР»СЊРЅРёРє=======================================*/
.intro_inner {
    ширина: 100%;
    максимальная ширина: 970 пикселей;
    маржа: 0 авто;
    выравнивание текста: по центру;
}
 
.intro_title {
    поле: 0 0 30 пикселей;
    семейство шрифтов: «Open Sans», Sans-serif;
    размер шрифта: 30 пикселей;
    высота строки: 1,1;
    цвет: #fff;
    вес шрифта: 700;
    преобразование текста: верхний регистр;
    выравнивание текста: по центру;
    
}


/* Кнопка=================================*/
.btn {
    отображение: встроенный блок;
    фон: #ffb13d;
    цвет: RGB(43, 43, 43);
    отступ: 1рем 1,1рем;
    текстовое оформление: нет;
    радиус границы: 4 пикселя;
    текстовое оформление: нет;


    
}


/* Feature==================================*/
.функции {
    дисплей: гибкий;
    flex-wrap: обертка;
    поле: 100 пикселей 0;
}

.features_item {
    отступ: 0 20 пикселей;
    ширина: 33,33333%;
    поле: 25 пикселей 0;

    выравнивание текста: по центру;
    цвет: #000;
}

.features_icon{
    поле внизу: 25 пикселей;

}

.features_title{
    поле внизу: 20 пикселей;
    размер шрифта: 14 пикселей;
    цвет: #2d3033;
    вес шрифта: 700;
    текст-трансформация: верхний регистр;
 
}
 
.features_text{
     размер шрифта: 14 пикселей;
     высота строки: 1,5;
     цвет: #6c7279

}

/* Р”Р°РІРёРј РјРµХА-Н·Р°РїСЂРѕСЃ Р'РћРљРђ */
.охватывать {
    поле: 0 0 пикселей 30 пикселей;
    поле сверху: 30 пикселей;
    семейство шрифтов: «Open Sans», Sans-serif;
    размер шрифта: 100 пикселей;
    высота строки: 1,1;
    цвет: #fff;
    вес шрифта: 700;
    преобразование текста: верхний регистр;
    выравнивание текста: по центру;
    ширина: 100%;
    максимальная ширина: 1170 пикселей;
    маржа: 0 авто;
}

/* Р”Р°Р°РЁРј РјРµРґРёР°-Н·Р°Р°СЂРѕСЏ Р°РґР°РїС‚РёРІРЅРѕС‚Рё */
@media (максимальная ширина: 930 пикселей) {
    .охватывать {
        размер шрифта: 50 пикселей;
    }
}



.span2 {
    поле: 0 0 30 пикселей;
    поле сверху: 30 пикселей;
    семейство шрифтов: «Open Sans», Sans-serif;
    размер шрифта: 50 пикселей;
    высота строки: 1,1;
    цвет: #111111;
    вес шрифта: 700;
    преобразование текста: верхний регистр;
    выравнивание текста: по центру;
  }
  
 
/* Изображение-изображение размера 320px */
@media (макс. ширина: 320 пикселей) {
    .span2 {
      маржа сверху: 50 пикселей;
      поле внизу: 50 пикселей;
    }
  }
  
  /* Размер-Нет размера 320px и размер 375px */
  @media (минимальная ширина: 321 пикселей) и (максимальная ширина: 375 пикселей) {
    .span2 {
      поле сверху: 60 пикселей;
      поле внизу: 60 пикселей;
    }
  }

    
  /* Размер-Нет размера 360px и размер 740px */
  @media (минимальная ширина: 360 пикселей) и (максимальная ширина: 740 пикселей) {
    .span2 {
      поле сверху: 60 пикселей;
      поле внизу: 60 пикселей;
    }
  }
  
  
  /* Размер-Нет размера 375px и размер 414px */
  @media (минимальная ширина: 376 пикселей) и (максимальная ширина: 414 пикселей) {
    .span2 {
      маржа сверху: 70 пикселей;
      поле внизу: 70 пикселей;
    }
  }



.intro_title1 {
    поле: 0 0 30 пикселей;
    семейство шрифтов: «Open Sans», Sans-serif;
    размер шрифта: 30 пикселей;
    высота строки: 1,1;
    цвет: RGB(0, 0, 0);
    вес шрифта: 700;
    преобразование текста: верхний регистр;
    выравнивание текста: по центру;


}



/* Проекты РїР°С‚РμРіРѕСЂРёСЏРј */

.проекты {
    дисплей: гибкий;
    оправдание-содержание: центр;
    flex-wrap: обертка;
    разрыв столбца: 10 пикселей;
    разрыв между строками: 30 пикселей;
    отступ: 20 пикселей 20 пикселей;
}
@media (макс. ширина: 600 пикселей) {
    .проекты {
        гибкое направление: столбец; /* РЎС‚РѕР»Р±С†С‹ РґР»СЏ РјРѕР±Р»СЊРЅС‹С… СѓСЃС‚СЂРѕР№СЃС‚РІ */
        отступ: 10 пикселей; /* РЈРјРµРЅСЊС€РёС‚Рµ РѕС‚СЃС‚СѓРїС‹ РїРѕ Р±Р°Р°Рј */
    }

    .проект {
        маржа: 0 авто; /* Р'С‹СЂРІРЅСЏС‚СЊ РїРѕ С†РµРЅС‚СЂСѓ */
        ширина: 100%; /* РЈСЃС‚Р°РЅРѕРІРёС‚Рµ С€РёСЂРёРЅСѓ РїРѕ РІР°С€РµРјСѓ СѓСЃРјРѕС‚СЂРµРЅРёСЋ */
    }
}
.проект {
    максимальная ширина: 350 пикселей;
    цвет фона: var (--project-card-bg);
    коробка-тень: вар (--box-shadow);
    радиус границы: 10 пикселей;
    поле: 0 5 пикселей;
    box-shadow: 0px 2px 4px rgba(5, 5, 5, 0.2);
   
    переход: box-shadow 0,5 с;
    
}



.project:hover {
    /* С‚РµРЅСЊ РїСЂРё РЅР°РІРµРґРµРЅРёРё */
    box-shadow: 0px 6px 15px rgba(5, 5, 5, 0.2);
}

.project__img1 {
    радиус границы: 15 пикселей;
    дисплей: блок;
    маржа: 0 авто;
    поле-верх: 0 пикселей;
}




.Название Проекта {
    отступы: 15 пикселей, 20 пикселей, 25 пикселей;
    вес шрифта: 700;
    размер шрифта: 24 пикселей;
    высота строки: 1,3;
    цвет: var (--project-card-text);
    выравнивание текста: по центру;
    цвет: #000000;
    текстовое оформление: нет;
    маржа сверху: 10 пикселей;
    нижнее поле: 10 пикселей;
    дисплей: гибкий;
    оправдание-содержание: центр;
    flex-wrap: обертка;
    разрыв столбца: 10 пикселей;
    разрыв между строками: 10 пикселей;
}

.project__title:hover {
    цвет: #ffb62f;
    оформление текста: нет !important;
}
/* Детали проекта */

.Детали проекта {
    маржа: 0 авто;
    максимальная ширина: 865 пикселей;
    дисплей: гибкий;
    гибкое направление: столбец;
    выровнять-элементы: по центру;
    выравнивание текста: по центру;
}

.project-details__cover {
    максимальная ширина: 100%;
    поле внизу: 40 пикселей;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0,25);
    радиус границы: 50 пикселей;
    ширина: 60 ​​пикселей;
}

.project-details__desc {
    поле внизу: 30 пикселей;
    вес шрифта: 700;
    размер шрифта: 24 пикселей;
    высота строки: 1,3;
}

/* Список содержимого */
.content-список {
    маржа: 0 авто;
    максимальная ширина: 570 пикселей;
    дисплей: гибкий;
    гибкое направление: столбец;
    выровнять-элементы: по центру;
    разрыв между строками: 40 пикселей;
    выравнивание текста: по центру;
}

.content-list а {
    цвет: var(--accent);
}

.content-list__item {
    размер шрифта: 18 пикселей;
    высота строки: 1,5;
}

.content-list__item p + p {
    маржа-верх: 0,5em;
}




/* РќРѕРІРѕСЃС‚РЅРѕР№ Р±Р»РѕРє */
.предмет новостей {
    дисплей: гибкий;
    выровнять-элементы: гибкий старт;
    поле внизу: 20 пикселей;
    цвет фона: #fff;
    радиус границы: 10 пикселей;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    отступ: 20 пикселей;
}
/* Р”Р°Р°РїС‚РёРІРЅРѕС‚Рё-Н·Р°РїСЂРѕСЃС‹ Р°ХР°РїС‚РёРІРЅРѕС‚Рё */
@media (макс. ширина: 500 пикселей) {
  
    .news-content {
        дисплей: блок;
        отступ: 10 пикселей;
    }
}
@media (макс. ширина: 500 пикселей) {
    /* Размер файла 768px */
    .news-content2 {
        дисплей: блок;
        отступ: 10 пикселей;
    }
}






.news-item .project__img {
    радиус границы: 15 пикселей;
    поле справа: 20 пикселей;
    максимальная ширина: 200 пикселей;
}

.news-item .news-content {
    гибкий: 1;
    поле слева: 10 пикселей;
}

.news-item .project__title2 {
    вес шрифта: 700;
    размер шрифта: 24 пикселей;
    высота строки: 1,3;
    нижнее поле: 10 пикселей;
    текстовое оформление: нет;
    цвет: #000000;
}

.news-item .news-text {
    вес шрифта: 400;
    размер шрифта: 16 пикселей;
    высота строки: 1,5;
    цвет: #000000;
    нижнее поле: 10 пикселей;
}

.news-item .read-more-button {
    цвет фона: #000;
    цвет: #fff;
    отступ: 10 пикселей 20 пикселей;
    граница: нет;
    радиус границы: 5 пикселей;
    курсор: указатель;
}

.news-item .read-more-button:hover {
    цвет фона: #252525;
}


/* Применяем стили для экранов с максимальной шириной 900 пикселей */
@media (максимальная ширина: 900 пикселей) {
    .предмет новостей {
        гибкое направление: столбец;
        выровнять-элементы: гибкий старт;
    
        }
        .предмет новостей {
            выровнять-элементы: по центру;
        }
    }



    .news-item .project__img {
        нижнее поле: 10 пикселей;
        поле справа: 0;
    }









/* ящик с uxweb */
.ux {
    дисплей: гибкий;
    выровнять-элементы: гибкий старт;
    поле внизу: 20 пикселей;
    цвет фона: #fff;
    радиус границы: 10 пикселей;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    отступ: 25 пикселей;
    максимальная ширина: 100%;
    высота: авто;
}
.ux.project__img {
    радиус границы: 10 пикселей;
    поле справа: 10 пикселей;
    максимальная ширина: 1100 пикселей;
    дисплей: гибкий;
    выровнять-элементы: гибкий старт;
    отступ: 25 пикселей;
    
    максимальная ширина: 100%;
    высота: авто;
}

.ux .news-content {
    гибкий: 1;
    поле слева: 10 пикселей;
}

.ux .project__title2 {
    вес шрифта: 700;
    размер шрифта: 24 пикселей;
    высота строки: 1,3;
    нижнее поле: 10 пикселей;
    текстовое оформление: нет;
    цвет: #000000;
}

.ux .news-текст {
    вес шрифта: 400;
    размер шрифта: 16 пикселей;
    высота строки: 1,5;
    цвет: #000000;
    нижнее поле: 10 пикселей;
}











/* Список содержимого */

.content-list2 {
    маржа: 0 авто;
    максимальная ширина: 570 пикселей;
    дисплей: гибкий;
    гибкое направление: столбец;
    выровнять-элементы: по центру;
    разрыв между строками: 40 пикселей;
    выравнивание текста: по центру;
    
}

.content-list2 а {
    цвет: var(--accent);
}

.content-list__item2 {
    размер шрифта: 18 пикселей;
    высота строки: 1,5;
}

.content-list__item2 p + p {
    маржа-верх: 0,5em;
}



/* Контакты*/

/* Контакты*/

тело5 {
    семейство шрифтов: Arial, без засечек;
    дисплей: гибкий;
    оправдание-содержание: центр;
    выровнять-элементы: по центру;
    высота: 100вх;
    маржа: 0;
    цвет фона: #ffffff;
}

.container5 {
    ширина: 70%;
    максимальная ширина: 1170 пикселей;
    маржа: 0 авто; /* Р¦РµРЅС‚СЂРёСЂРѕРІР°РЅРёРµ РєРѕРЅС‚РµР№РЅРµСЂР° */
    отступ: 30 пикселей;
    цвет фона: #fff;
    радиус границы: 10 пикселей;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container5 h2 {
    выравнивание текста: по центру;
    поле внизу: 20 пикселей;
}

метка .contact-form {
    дисплей: блок;
    поле внизу: 5 пикселей;
}

ввод контактной формы,
.contact-form textarea {
    ширина: расчет (100 % – 20 пикселей); /* РЈС‡РёС‚С‹РІР°РµРѕС‚СЃС‚СѓРїС‹ */
    отступ: 10 пикселей;
    поле внизу: 15 пикселей;
    граница: 1 пиксель, сплошная #ccc;
    радиус границы: 5 пикселей;
    дисплей: блок;
    размер коробки: граница-коробка; /* Связанные файлы ‚Р° */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Снимок */
}

кнопка .contact-form {
    отступ: 10 пикселей 20 пикселей;
    граница: нет;
    радиус границы: 5 пикселей;
    цвет фона: #0f0f0f;
    цвет: #fff;
    размер шрифта: 16 пикселей;
    курсор: указатель;
    дисплей: блок;
    ширина: 100%; /* Р°РЅРјР°РµС‚ РІСЃСЋ РґРѕСЃС‚СѓРїРЅСѓСЋ С€РёСЂРёРЅСѓ */
}

Кнопка .contact-form:hover {
    цвет фона: #333333;
}


/* Добавляем стили для значков социальных сетей */
.social-значки {
    дисплей: гибкий;
    оправдание-содержание: гибкий старт;
    поле внизу: 20 пикселей;
}

.social-icons а {
    размер шрифта: 24 пикселей;
    поле справа: 10 пикселей;
    цвет: #000; /* Отрегулируйте цвет по мере необходимости */
    текстовое оформление: нет;
}

.social-icons a:hover {
    цвет: #ffd13a; /* Светло-серый при наведении */
}

/* Добавляем стили для значков социальных сетей */
.social-значки {
    дисплей: гибкий;
    оправдание-содержание: гибкий старт;
    поле внизу: 20 пикселей;
}

.social-icons а {
    размер шрифта: 24 пикселей;
    поле справа: 10 пикселей;
    цвет: #000;
    текстовое оформление: нет;
}

.social-icons a:hover {
    цвет: #ffd13a;
}


/* Р'РёРѕРіСЂР°С„РёСЏ "Можно" */
.news-item2 {
    дисплей: гибкий;
    выровнять-элементы: гибкий старт;
    поле внизу: 20 пикселей;
    цвет фона: #fff;
    радиус границы: 10 пикселей;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    отступ: 20 пикселей;
}

.news-item2 .project__img2 {
    радиус границы: 15 пикселей;
    поле справа: 20 пикселей;
    максимальная ширина: 200 пикселей;
}

.news-item2 .news-content2 {
    гибкий: 1;
    поле слева: 10 пикселей;
}

.news-item2 .project__title2 {
    вес шрифта: 700;
    размер шрифта: 24 пикселей;
    высота строки: 1,3;
    нижнее поле: 10 пикселей;
    текстовое оформление: нет;
    цвет: #000000;
}

.news-item2 .news-text2 {
    вес шрифта: 400;
    размер шрифта: 16 пикселей;
    высота строки: 1,5;
    цвет: #000000;
    нижнее поле: 10 пикселей;
}

.news-item2 .read-more-button {
    цвет фона: #000;
    цвет: #fff;
    отступ: 10 пикселей 20 пикселей;
    граница: нет;
    радиус границы: 5 пикселей;
    курсор: указатель;
}

.news-item2 .read-more-button:hover {
    цвет фона: #252525;
}


/* Р”Р°Р°РЁРј РјРµРґРёР°-Н·Р°Р°СЂРѕСЏ Р°РґР°РїС‚РёРІРЅРѕС‚Рё */



/* РњРµХР°-НР°РїСЂРѕСЃ РґР»СЏ РјРѕР±РёР»СЊРЅС‹С… СѓСЃС‚СЂРѕР№СЃС‚РІ */
@media (максимальная ширина: 700 пикселей) {
    .news-item2 .project__title2 {
        размер шрифта: 30 пикселей; /* Р°Р·РјРµСЂ СЪСЂРёСЄС‚Р° РґР»СЏ РјРѕР±Р»СЊРЅС‹С… СѓСЃС‚СЂРѕР№СЃС‚РІ */
    }

    .news-item2 .news-text2 {
        размер шрифта: 30 пикселей; /* Р°Р·РјРµСЂ СЪСЂРёСЄС‚Р° РґР»СЏ РјРѕР±Р»СЊРЅС‹С… СѓСЃС‚СЂРѕР№СЃС‚РІ */
    }
}




/* РќРѕРІРѕСЃС‚СЊ 1 РІ Р'РѕРіРμ */

    .header {
        выравнивание текста: по центру;
        преобразование текста: верхний регистр;
        черный цвет;
        размер шрифта: 16 пикселей;
      }
      
      .текст {
        черный цвет;
        размер шрифта: 16 пикселей;
      }

    
    
      ч3 {
        черный цвет;
      }
 




/* Добавлены социальные иконки */
.social-значки {
    дисплей: гибкий;
    оправдание-содержание: центр;
    поле внизу: 20 пикселей;
}

.social-icons а {
    размер шрифта: 24 пикселей;
    поле: 0 5 пикселей;
    цвет: #000;
    текстовое оформление: нет;
}

.social-icons a:hover {
    цвет: #ffd13a;
}


/* Делаем ссылки прозрачными */
.биография а {
    непрозрачность: 0,3;
    переход: непрозрачность 0,3 с, легкость;
}

/* Изменение непрозрачности при наведении */
.biography a:hover {
    непрозрачность: 1;
}




/* Оформление ссылок */
.биография а {
    цвет: #8f8f8f;
    переход: цвет, легкость 0,3 с;
}

/* Изменение цвета при наведении */
.biography a:hover {
    цвет: RGB(255, 195, 82);
}

/* Остальные стили CSS... */


/* РњРµРґР°-Р°Р°Р°Р'СЏ Р°РґР°РїС‚Р°С†РёРё СЃС‚РёР»РµР№ РЅР° РјР°Р»РµРЅСЊРєРёС… СЌРєСЂР°Р°С … (Можно ‹Рµ СѓСЃС‚СЂРѕР№СЃС‚РІР°) */
@media (максимальная ширина: 767 пикселей) {
    .container5 {
        ширина: 90%;
    }
}



















/* Краткая информация */
.project__img1 {
    максимальная ширина: 100%;
}

@media (макс. ширина: 600 пикселей) {
    .news-content2 {
        гибкое направление: обратный столбец;
    }
}







/* Р'РёРѕРіСЂР°С„РёСЏ "Можно" */
.news-item2 {
    дисплей: гибкий;
    выровнять-элементы: гибкий старт;
    поле внизу: 20 пикселей;
    цвет фона: #fff;
    радиус границы: 10 пикселей;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    отступ: 20 пикселей;
}



/* РњРµХР°-НР°РїСЂРѕСЃ РґР»СЏ РјРѕР±РёР»СЊРЅС‹С… СѓСЃС‚СЂРѕР№СЃС‚РІ */
@media (максимальная ширина: 700 пикселей) {
    .news-item2 .project__title2 {
        размер шрифта: 30 пикселей; /* Р°Р·РјРµСЂ СЪСЂРёСЄС‚Р° РґР»СЏ РјРѕР±Р»СЊРЅС‹С… СѓСЃС‚СЂРѕР№СЃС‚РІ */
    }

    .news-item2 .news-text2 {
        размер шрифта: 30 пикселей; /* Р°Р·РјРµСЂ СЪСЂРёСЄС‚Р° РґР»СЏ РјРѕР±Р»СЊРЅС‹С… СѓСЃС‚СЂРѕР№СЃС‚РІ */
    }
}







/* РЎРѕР·ХР°РµРј СЃС‚РёР»СЊ news-text3 Р'Р˜РћР'Р РђР¤Р˜РЇ РќРђ РЪАђР'РћР™ */
.news-content2 {
    дисплей: гибкий;
    гибкое направление: столбец;
}

.news-text3 {
    вес шрифта: 400;
    размер шрифта: 16 пикселей;
    высота строки: 1,5;
    цвет: #000000;
    нижнее поле: 10 пикселей;
}

@media (макс. ширина: 600 пикселей) {
    .news-content2 {
        дисплей: гибкий;
        гибкое направление: обратный столбец;
    }

   
}





/* Сообщение об ошибке .news-item2 */
.news-item2 {
    дисплей: гибкий;
    гибкое направление: столбец;
    выровнять-элементы: по центру;
    поле внизу: 20 пикселей;
    цвет фона: #fff;
    радиус границы: 10 пикселей;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    отступ: 20 пикселей;
  }
  
/* Сообщение об ошибке .news-item2 */
.news-item2 {
    дисплей: гибкий;
    выровнять-элементы: по центру;
    поле внизу: 20 пикселей;
    цвет фона: #fff;
    радиус границы: 10 пикселей;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    отступ: 20 пикселей;
  }
  
  /* Ссылка .news-content2 */
  .news-content2 {
    выравнивание текста: по левому краю;
  }
  
  /* Размер-Нет размера 600px */
  @media (минимальная ширина: 800 пикселей) {
    .news-item2 {
      гибкое направление: строка;
      
      оправдание-содержание: пространство между;
    }
  
    .project__img1 {
      
      поле справа: 20 пикселей; /* РџСЂРѕСЃС‚СЂР°РЅСЃС‚РІРѕ РјРµР¶РґСѓ РєР°СЂС‚РёРЅРєРѕР№ Рё С‚РµРєСЃС‚РѕРј */
    }
  
    .news-content2 {
      гибкий: 2;
      выравнивание текста: по левому краю;
    }
  }
  






  

/* Снимок с места */
.отзывы {
    дисплей: гибкий;
    оправдание-содержание: пространство между;
    flex-wrap: обертка;
    поле: -20 пикселей;
}

.отзыв {
    ширина: 350 пикселей;
    высота: 500 пикселей;
    цвет фона: #fff;
    радиус границы: 10 пикселей;
    отступ: 20 пикселей;
    box-shadow: 0px 2px 4px rgba(5, 5, 5, 0.2);
    дисплей: гибкий;
    гибкое направление: столбец;
    выровнять-элементы: по центру;
    поле: 20 пикселей;
}

/* РњРµРґР°-НР°Р°СЂРѕСЃ РґР»СЏ Р°РґР°РїС‚РёРІРЅРѕСЃС‚Рё РїСЂРё С€РёСЂРёРЅРµ СЌРєСЂР°РЅР° РјРµР µ 950 пикселей */
@media (максимальная ширина: 950 пикселей) {
    .отзыв {
        ширина: 350 пикселей;
        высота: 500 пикселей;
        поле: 20 пикселей авто;
    }
}

/* РЎС‚РёР»Рё РґР»СЏ РёР·РѕР±СЂР°Р¶РµРЅРёСЏ, РёРјРμРЅРё Рё РёРЅС™РѕСЂРјС†РёРё РІРЅСѓС‚СЂРё Р±Р»РѕР° Р ѕС‚Р·С‹Р° (РјРѕР¶РµС ‚Рµ РѕСЃС‚Р°РІРёС‚СЊ РєР°Рє РµСЃС‚СЊ) */
.testimonial__image img {
    ширина: 100%;
    граница-радиус: 50%;
    поле внизу: 5 пикселей;
}

.testimonial__name {
    размер шрифта: 20 пикселей;
    начертание шрифта: жирный;
    поле внизу: 5 пикселей;
    цвет фона: #ebebeb;
    радиус границы: 10 пикселей;
    отступы: 5 пикселей 10 пикселей;
}

.testimonial__info {
    выравнивание текста: по центру;
}

.testimonial__comment {
    размер шрифта: 16 пикселей;
    цвет: #666;
}




.image-контейнер {
    курсор: указатель;
}

.image-контейнер img {
    максимальная ширина: 100%;
    максимальная высота: 100%;
}

.image-container.fullscreen {
    положение: фиксированное;
    верх: 0;
    слева: 0;
    ширина: 100%;
    высота: 100%;
    z-индекс: 999;
    цвет фона: rgba(0, 0, 0, 0,9);
    дисплей: гибкий;
    оправдание-содержание: центр;
    выровнять-элементы: по центру;
}










/* Нижний колонтитул */

.footer {
    маржа-верх: авто;
    отступ: 60 пикселей 0 50 пикселей;
    цвет фона: RGB(17, 17, 17);
    цвет: var (--header-text);
}

.footer__wrapper {
    дисплей: гибкий;
    гибкое направление: столбец;
    выровнять-элементы: по центру;
    разрыв между строками: 27 пикселей;
}

.Социальное {
    дисплей: гибкий;
    разрыв столбца: 30 пикселей;
    выровнять-элементы: по центру;
}

/* Размер-Нет размера 600px */
@media (макс. ширина: 600 пикселей) {
    .Социальное {
        разрыв столбца: 8 пикселей; /* Размер файла 8px */
    }
}

.Авторские права {
    размер шрифта: 16 пикселей;
}

.авторское право р + р {
    маржа-верх: 0,5em;
}



.text-с-полем {
    поле сверху: 30 пикселей;
    поле внизу: 30 пикселей;
    дисплей: гибкий;
    оправдание-содержание: центр;
    flex-wrap: обертка;
    разрыв столбца: 35 пикселей;
    разрыв между строками: 35 пикселей;
    цвет: #000;
  }



 html {
    высота: 100%;
  }
  
  .centered-контейнер {
    выравнивание текста: по центру;
  }
  
        
     
  
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display= менять");

  html {
    размер коробки: граница-коробка;
    высота: 100%;
  }
  
  *,
  *::после,
  *::до {
    размер коробки: наследовать;
  }
  
  тело {
    дисплей: гибкий;
    гибкое направление: столбец;
    семейство шрифтов: «Робото», без засечек;
    размер шрифта: 16 пикселей;
    высота строки: 1,2;
    
  }
  
  .контейнер {
    ширина: 100%;
    максимальная ширина: 1170 пикселей;
    маржа: 0 авто;
    высота: 100%;
    отступ: 0 15 пикселей;
  }
  
  .navbar {
    положение: фиксированное;
    слева: 0;
    верх: 0;
    ширина: 100%;
    высота: 75 пикселей;
    фон: #222222;
  }
  
  .navbar__wrap {
    дисплей: гибкий;
    оправдание-содержание: пространство между;
    высота: 100%;
  }
  
  .hamb {
    дисплей: нет;
  }
  
  .неожиданно возникнуть {
    дисплей: нет;
  }
  
  .logo {
    текстовое оформление: нет;
    цвет: #fff;
    размер шрифта: 20 пикселей;
    начертание шрифта: жирный;
    преобразование текста: верхний регистр;
    дисплей: гибкий;
    выровнять-элементы: по центру;
  }
  
  .menu > li > а {
    текстовое оформление: нет;
  }
  
  .navbar__wrap .menu {
    дисплей: гибкий;
  }
  
  .navbar__wrap .menu > li {
    дисплей: гибкий;
    выровнять-элементы: растянуть;
  }
  
  .navbar__wrap .menu > li > a {
    дисплей: гибкий;
    выровнять-элементы: по центру;
    отступ: 0 10 пикселей;
    цвет: rgba(255, 255, 255, 0,7);
  }
  
  .navbar__wrap .menu > li > a:hover {
    цвет: #ffb62f;
  }


  @media (максимальная ширина: 1170 пикселей) {
    .navbar__wrap .menu {
      дисплей: нет;
    }
  
    .hamb {
      дисплей: гибкий;
      выровнять-элементы: по центру;
    }
  
    .hamb__field {
      отступ: 10 пикселей 20 пикселей;
      курсор: указатель;
    }
  
    .бар {
      дисплей: блок;
      ширина: 30 пикселей;
      высота: 3 пикселя;
      поле: 6 пикселей авто;
      цвет фона: #fff;
      переход: 0,2 с;
    }
  
    .неожиданно возникнуть {
      положение: фиксированное;
      верх: 75 пикселей;
      слева: -100%;
      ширина: 100%;
      высота: 100%;
      цвет фона: #fff;
      z-индекс: 100;
      дисплей: гибкий;
      переход: 0,3 с;
    }
  
    .popup.open {
      слева: 0;
    }
  
    .всплывающее меню {
      ширина: 100%;
      высота: 100%;
      дисплей: гибкий;
      гибкое направление: столбец;
      выровнять-элементы: по центру;
      оправдание-содержание: начало;
      отступ: 50 пикселей 0;
      переполнение: авто;
    }
  
    .popup .menu > li {
      ширина: 100%;
    }
  
    .popup .menu > li > а {
      ширина: 100%;
      дисплей: гибкий;
      оправдание-содержание: центр;
      отступ: 20 пикселей 0;
      размер шрифта: 20 пикселей;
      начертание шрифта: жирный;
      цвет: #3f3f3f;
    }
  
    .popup .menu > li > a:hover {
      цвет фона: rgba(77, 77, 77, 0,226);
    }
  
    .hamb__field.active .bar:nth-child(2) {
      непрозрачность: 0;
    }
  
    .hamb__field.active .bar:nth-child(1) {
      преобразование: TranslateY (8 пикселей) вращать (45 градусов);
    }
  
    .hamb__field.active .bar:nth-child(3) {
      преобразование: TranslateY (-8 пикселей) Rotate (-45 градусов);
    }
  
    body.noscroll {
      переполнение: скрыто;
    }
  }










